body{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding-bottom: 70px;
}
.honeydew-bg{
    background-color: #f0fff0;
}
.navbar-logo{
    width: 198.07px;
    height: 59px;
    margin-top: 30px;
} 
.navbar-cats{
    margin-right: 30px;
    margin-top: 30px;
}
.navitems-margin{
    margin-left: 35px;
}
.green-btn{
    border-radius: 33px;
    background-color: #21B573;
}
.img-padding{
    padding-top: 50px;
}
#book-img{
     height: 180px; 
} 
.book-cat, .students-cat, .test-cat, .students2-cat{
    background-color: #F8FFFB;
    border: none;
    border-radius: 10px;

}
.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px darkgray;
    -moz-box-shadow: -1px 9px 40px -12px darkgray;
    box-shadow: -1px 9px 40px -12px darkgray;;
}
.card-title{
    color: #413960;
}
.footer-left{
    margin-right: 20px;
}
.footer-right{
    margin-left: 20px;
}
.card-psychology{
    padding: 5px;
}
.online-courses h2{
    color: #413960;
}