body{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding-bottom: 70px;
}
.honeydew-bg{
    background-color: #f0fff0;
}
.navbar-logo{
    width: 198.07px;
    height: 59px;
    margin-top: 30px;
} 
.navbar-cats{
    margin-right: 30px;
    margin-top: 30px;
}
.navitems-margin{
    margin-left: 35px;
}
.green-btn{
    border-radius: 33px;
    background-color: #21B573;
}
.img-padding{
    padding-top: 50px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightblue;
}
/* #book-cat{
     height: 83px; 
} */
